site_name: python-fhir-cql
site_description: FHIRPath and CQL parsers for Python
site_url: https://mortenoh.github.io/python-fhir-cql
repo_url: https://github.com/mortenoh/python-fhir-cql
repo_name: mortenoh/python-fhir-cql

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - tables

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - CLI Reference: cli.md
